<!DOCTYPE html>
<html lang="en">
    <head>
        <title>华云PaaS演示应用</title>
        <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet">
        <link type="text/css" href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <link type="image/x-icon" href="/static/img/favicon.ico" rel="shortcut icon" />
        <style type="text/css">code{color:#15d;} code.error{color:#d14}.hero-unit img{margin-right:10px;margin-top:10px}</style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="hero-unit">
           <img src="/static/img/scalr-logo.png" alt="Scalr Logo" class="pull-left"/>
           <h1>欢迎您使用华云PaaS！</h1>
           <p>这是华云PaaS演示应用。您提交数据，系统会将数据写入MySQL主库中，而数据读取则会从MySQL从库中获取。</p>
           <p>当前分支：<code>{{ git_branch }}</code></p>
        </div>
        {% for category, message in get_flashed_messages(with_categories=true) %}
          <div class="alert {% if category %}alert-{{ category }}{% endif %}">
          {{ message }}
          </div>
        {% endfor %}

        <div class="container">

            {% block config_error %}
            {% endblock config_error %}

            {% block form %}
            {% endblock form %}

            {% block data %}
            {% endblock data %}

            <hr/>

            {% block info %}
            {% endblock %}
            <h2>系统信息</h2>
            <ul>
                <li>此应用所在服务器主机名： <code>{{ hostname }}</code></li>
            </ul>

        </div>

    </body>
</html>
