{% extends 'form.html' %}

{% block data %}
<h2>Reading Messages (from MySQL slaves)</h2>
<p>What you write will be echoed here!</p>
<ul>
  {% for value in values %}
    <li>{{ value }}</li>
  {% else %}
    <li><span class="badge badge-warning">!</span> There's no data in your database yet. Start adding some!</li>
  {% endfor %}
</ul>
{% if values %}
<form action="{{ url_for('clean_table') }}" method="post">
  <input type="submit" class="btn btn-danger" value="Delete all values!"/>
</form>
<p><small class="muted">The data you added last is shown first.</small></p>
{% endif %}
{% endblock data %}
