{% extends 'base.html' %}

{% block form %}
<h2>Write a new Value (to MySQL Master)</h2>
<p>Use this form to submit values to the database.</p>

<form action="{{ mountpoint }}" method="post" class="form-inline">
    <fieldset>
        <div class="input-append">"
            <input name="value" type="text" placeholder="Some data..."/>
            <input type="submit" class="btn btn-success" value="Write!"/>
        </div>
    </fieldset>
</form>
{% endblock form %}

{% block data %}
{% endblock data %}

{% block info %}
<h2>MySQL Configuration Information</h2>
<ul>
    <li>Username: <code>{{ connection_info.username }}</code></li>
    <li>Password: <code>[redacted]</code></li>
    <li>
        MySQL Master hostname:  <code>{{ connection_info.master.hostname }}</code>
        <ul>
        {% for ip in connection_info.master.ips() %}
            <li>IP: <code>{{ ip }}</code></li>
        {% endfor %}
        </ul>
    </li>
    <li>
        MySQL Slave hostname:  <code>{{ connection_info.slave.hostname }}</code>
        <ul>
        {% for ip in connection_info.slave.ips() %}
            <li>IP: <code>{{ ip }}</code></li>
        {% endfor %}
        </ul>
    </li>
    <li>
    {% if connection_info.replicating() %}
      Replication is active!
    {% else %}
      <span class="badge badge-warning">!</span> Replication is not active yet. Launch another MySQL instance!
    {% endif %}
    </li>
</ul>
{% endblock info %}
